/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset End */

/* Custom Styles */

/* Global Styles */
body {
  font-family: 'Montserrat';
  box-sizing: border-box;
  min-width: 350px;
}
/* Global Styles End */

/* Heading Styles */

.site-heading-wrapper {
  background-color: #F2B56B;
  height: 60vh;
  position: relative;
  color: #194B61;
}

.nav-wrapper {
  display: none;
}

.heading-text-wrapper {
  height: 60%;
  position: absolute;
  top: calc(60vh - 60%);
  left: 20%;
}

.heading-name {
  font-size: 1.5em;
  margin-bottom: -5px;
  padding-left: 20px;
}

.heading-title {
  font-size: 2em;
  padding-right: 30px;
}

.background-tri-wrapper {
  position: relative;
  height: 100%;
}

.background-tri-wrapper .tri-1 {
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 175px solid #D99255;
  opacity: 0.2;
  transform: rotate(20deg);
  overflow-x: hidden;
  position: absolute;
  top: 25%;
  left: 15%;
}

.view-work {
  position: absolute;
  top: 95%;
  font-size: 0.8em;
  width: 100vw;
  text-align: center;
  z-index: 100;
}

.view-work a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Heading Styles End */

/* Project Styles  */

.portfolio-wrapper {
  background-color: #194B61;
  position: relative;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  color: #F2B56B;
  padding-top: 50px;
  padding-bottom: 70px;
}

.project {
  z-index: 100;
  width: 80%;
  max-width: 500px;
  justify-self: center;
  padding-bottom: 20px;
}

.port-arrow-tri-1, .about-arrow-tri-1 {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 40px solid #F2B56B;
  position: absolute;
  z-index: 100;
  left: calc(100vw / 2 - 70px);

}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.port-arrow-tri-2, .about-arrow-tri-2 {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 25px solid #194B61;
  position: absolute;
  z-index: 200;
  left: calc(100vw / 2 - 45px);
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.image-rect {
  width: 90%;
  height: 250px;
    background-color: #083040;
    margin: 50px auto 10px auto;
    position: relative;
  }

  .image-rect img {
    height: 100%;
    width: 100%;
    z-index: 100;
    object-fit: cover;
  }

  .project-overlay {
    height: 100%;
    width: 100%;
    background-color: #F2B56B;
    opacity: 0;
    transition: all 0.8s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 200;
    position: absolute;
    top: 0;
  }

  .active {
    opacity: 0.5;
  }

  .project-overlay a  {
    width: 100%;
    height: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-overlay a img {
    z-index: 300;
    opacity: 1;
    height: 25%;
    width: 45%;
    justify-self: center;
    align-self: center;
  }

  .title-rect {
    width: 90%;
    padding: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    background-color: #083040;
    margin: auto;
    font-size: 1.4em;
  }

  .who-am-i {
    position: absolute;
    top: 98%;
    font-size: 0.8em;
    width: 100vw;
    text-align: center;
    color: #F2B56B;
  }

  .who-am-i a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .sq-1, .sq-2, .sq-3, .sq-4, .sq-5, .sq-6 {
    height: 200px;
    width: 200px;
    opacity: 0.15;
    background-color: #3391A6;
    position: absolute;
    top: 0;
  }

  .sq-1 {
    top: 50;
    left: calc(100vw / 2 - 100px);
    transform: rotate(10deg);
  }

  .sq-2 {
    top: 250;
    left: calc(100vw / 2 - 120px);
    transform: rotate(70deg);
  }

  .sq-3 {
    top: 550;
    left: calc(100vw / 2 - 80px);
    transform: rotate(40deg);
  }

  .sq-4 {
    top: 800;
    left: calc(100vw / 2 - 100px);
    transform: rotate(10deg);
  }

  .sq-5 {
    top: 1050;
    left: calc(100vw / 2 - 120px);
    transform: rotate(80deg);
  }

  .sq-6 {
    top: 1200;
    left: calc(100vw / 2 - 80px);
    transform: rotate(30deg);
  }

/* Project Styles end */

/* About Me Styles */

.about-me-wrapper {
  background-color: #F2B56B;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  color: #194B61;
}

.about-text, .about-me-wrapper .about-heading {
  padding: 0 10% 30px 10%;
}

.about-arrow-tri-1 {
  border-top: 40px solid #194B61;
  top: 0;
}

.about-arrow-tri-2 {
  top: 0;
  border-top: 25px solid #F2B56B;
}

.about-heading {
  font-size: 2em;
}

.about-tag {
  font-size: 1.5em;
}

.technology-list {
  width: 100%;
  text-align: center;
}

.technology-list li {
  display: inline;
  padding: 15px;
  margin: 0;
}

.circle-1, .circle-2, .circle-3, .circle-4, .circle-5, .circle-6, .circle-7, .circle-8 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #D99255;
  opacity: 0.2;
  position: absolute;
  top: 0;
}

.circle-1 {
  top: 50;
  left: calc(100vw / 2 - 100px);
}

.circle-2 {
  top: 200;
  left: calc(100vw / 2 - 170px);
}

.circle-3 {
  top: 300;
  left: calc(100vw / 2 + 20px);
}

.circle-4 {
  top: 450;
  left: calc(100vw / 2 - 130px);
}

.circle-5, .circle-6, .circle-7, .circle-8 {
  display: none;
}

/* About Me Styles end  */

/* Contact Styles */

.contact-wrapper {
  background-color: #083040;
  color: #F2B56B;
  text-align: center;
}

.contact-heading-l1 {
  font-size: 2em;
  padding-top: 50px;
}

.contact-heading-l2 {
  font-size: 2em;
  padding-bottom: 50px;
}

.contact-buttons {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}

.email-button, .phone-button {
  background-color: transparent;
  color: #F2B56B;
  font-size: 1.4em;
  width: 80%;
  max-width: 300px;
  justify-self: center;
  border: 3px solid #F2B56B;
  transition: 1s;
  text-decoration: none;
}

.contact-buttons a {
  padding-top: 5px;
  height: 30px;
}

.email-button:hover, .phone-button:hover {
  background-color: #F2B56B;
  color: #083040;
}

.social-image-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 30px;
}

.social-image-links img {
  height: 50px;
  width: 50px;
  justify-self: center;
}

.copyright {
  font-size: 0.8em;
  padding-bottom: 10px;
}


/* Contact Styles end  */

/* Media Queries */

@media(max-width: 320px) {
  /* Heading Styles */
  .heading-name {
    font-size: 1em;
  }

  .heading-title {
    font-size: 1.5em;
  }

  .background-tri-wrapper {
    display: none;
  }
  /* Heading Styles end */
}

@media(min-width: 400px) {
  .about-heading {
    font-size: 2em;
  }

  .about-text {
    font-size: 1.2em;
  }

  .about-tag {
    font-size: 1.7em
  }
}

@media(min-width: 700px){
  /* Heading Styles */
  .nav-wrapper {
    display: block;
    width: 100vw;
    height: 20px;
    text-align: right;
    padding: 20px 0 0 0;
  }

  .nav-wrapper li {
    display: inline;
    cursor: pointer;
  }

  .nav-wrapper a {
    text-decoration: none;
    color: #194B61;
    padding-right: 30px;
  }

  .background-tri-wrapper .tri-1{
    top: 10%;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 225px solid #D99255;
  }

  .heading-name {
    font-size: 2em;
  }

  .heading-title {
    font-size: 2.5em;
  }

  /* Heading Styles End */

  /* Project Styles */

  .port-arrow-tri-1, .about-arrow-tri-1 {
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 60px solid #F2B56B;
    left: calc(100vw / 2 - 105px);
  }

  .port-arrow-tri-2, .about-arrow-tri-2 {
    border-left: 67.5px solid transparent;
    border-right: 67.5px solid transparent;
    border-top: 37.5px solid #194B61;
    left: calc(100vw / 2 - 67.5px);
  }

  .about-arrow-tri-1 {
    border-top: 60px solid #194B61;
  }

  .about-arrow-tri-2 {
    border-top: 37.5px solid #F2B56B;
  }

  .who-am-i, .view-work {
    font-size: 1.2em;
  }

  .view-work {
    top: 92%;
  }

  .who-am-i {
    top: 97.5%;
  }

  .sq-1 {
    top: 50;
    left: calc(100vw / 2 - 250px);
    transform: rotate(10deg);
  }

  .sq-2 {
    top: 250;
    left: calc(100vw / 2);
    transform: rotate(70deg);
  }

  .sq-3 {
    top: 550;
    left: calc(100vw / 2 - 220px);
    transform: rotate(40deg);
  }

  .sq-4 {
    top: 800;
    left: calc(100vw / 2);
    transform: rotate(10deg);
  }

  .sq-5 {
    top: 1050;
    left: calc(100vw / 2 - 190px);
    transform: rotate(80deg);
  }

  .sq-6 {
    top: 1200;
    left: calc(100vw / 2 + 30px);
    transform: rotate(30deg);
  }


  /* Project Styles end */

  /* About Styles */
  .about-heading {
    font-size: 2.5em;
  }

  .about-text {
    font-size: 1.5em;
  }

  .about-tag {
    font-size: 2.2em
  }

  .circle-1 {
    top: 50;
    left: calc(100vw / 2 + 100px);
  }

  .circle-2 {
    top: 200;
    left: calc(100vw / 2 - 240px);
  }

  .circle-4 {
    top: 550;
    left: calc(100vw / 2 - 130px);
  }

  /* About Styles end */

}

@media(min-width: 900px){
  /* Heading Styles */
  .background-tri-wrapper .tri-2{
    position: absolute;
    top: 10%;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 225px solid #D99255;
    opacity: 0.2;
    transform: rotate(50deg);
  }
  /* Heading Styles end */

    /* About Styles */
    .about-heading {
      font-size: 3em;
    }

    .about-text {
      font-size: 1.9em;
    }

    .about-tag {
      font-size: 2.7em
    }

    .circle-1 {
      top: 50;
      left: calc(100vw / 2 + 100px);
    }

    .circle-2 {
      top: 200;
      left: calc(100vw / 2 - 240px);
    }

    .circle-3 {
      top: 300;
      left: calc(100vw / 2 + 150px);
    }

    .circle-4 {
      top: 450;
      left: calc(100vw / 2 - 130px);
    }

    .circle-5 {
      display: block;
      top: 550;
      left: calc(100vw / 2 + 280px);
    }

    .circle-6 {
      display: block;
      top: 590;
      left: calc(100vw / 2 - 330px);
    }

    .circle-7, .circle-8 {
      display: none;
    }

    /* About Styles end */


    /* contact styles */
    .contact-heading-l1, .contact-heading-l2 {
      font-size: 3em;
    }

    .email-button, .phone-button {
      height: 50px;
      font-size: 1.7em;
    }
    /* contact styles end */
}

@media(min-width: 1200px){
  /* Heading Styles */
  .heading-name {
    font-size: 2.5em;
  }

  .heading-title {
    font-size: 3em;
  }

  /* Heading Styles end */

  /* Project Styles */
  .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .sq-1 {
    top: 50;
    left: calc(100vw / 2 - 450px);
    transform: rotate(10deg);
  }

  .sq-2 {
    top: 50;
    left: calc(100vw / 2 + 300px);
    transform: rotate(70deg);
  }

  .sq-3 {
    top: 300;
    left: calc(100vw / 2 - 520px);
    transform: rotate(40deg);
  }

  .sq-4 {
    top: 220;
    left: calc(100vw / 2 - 10px);
    transform: rotate(10deg);
  }

  .sq-5 {
    top: 450;
    left: calc(100vw / 2 + 290px);
    transform: rotate(80deg);
  }

  .sq-6 {
    top: 530;
    left: calc(100vw / 2 - 200px);
    transform: rotate(30deg);
  }

  .who-am-i {
    top: 96%;
  }
  /* Project Styles end */

  /* About Styles */
  .circle-1 {
    top: 50;
    left: calc(100vw / 2 + 100px);
  }

  .circle-2 {
    top: 80;
    left: calc(100vw / 2 - 440px);
  }

  .circle-3 {
    top: 300;
    left: calc(100vw / 2 + 150px);
  }

  .circle-4 {
    top: 250;
    left: calc(100vw / 2 - 230px);
  }

  .circle-5 {
    display: block;
    top: 450;
    left: calc(100vw / 2 + 280px);
  }

  .circle-6 {
    display: block;
    top: 500;
    left: calc(100vw / 2 - 330px);
  }

  .circle-7 {
    display: block;
    top: 400;
    left: calc(100vw / 2 - 530px);
  }

  .circle-8 {
    display: block;
    top: 150;
    left: calc(100vw / 2 + 430px);
  }
  /* About Styles end */
}

@media(min-width: 1400px){
  /* Heading Styles */
  .heading-name {
    font-size: 3em;
  }

  .heading-title {
    font-size: 3.5em;
  }

  .background-tri-wrapper .tri-3{
    position: absolute;
    top: 10%;
    left: 75%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 225px solid #D99255;
    opacity: 0.2;
    transform: rotate(deg);
  }

  /* Heading Styles end */

}

/* Media Queries End */

/* Animation KeyFrames */

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-4px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-1px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

/* Custom Styles End */